<div class="">
  <app-return-component pageName="Search" />
  
  <div class="max-w-4xl mx-auto mt-6">
    <app-search-bar 
      [placeholder]="'Buscar películas...'" 
      (search)="onSearch($event)" 
    />

    @if (movies().length === 0) {
      <div class="py-10">
        <div class="flex flex-row justify-between">
          <h2 class="text-xl font-semibold mb-4">Búsquedas recientes</h2>
          @if (searchHistory().length > 0) {
            <p (click)="clearHistory()" class="cursor-pointer hover:font-medium delay-100 transition-all duration-75">Despejar historial</p>
          }
        </div>

        @if (searchHistory().length === 0) {
          <p>No hay búsquedas recientes</p>
        } @else {
          <div class="flex flex-wrap gap-3">
            @for (searchTerm of searchHistory(); track $index) {
              <button
                (click)="searchFromHistory(searchTerm)"
                class="px-4 py-2 rounded-full text-sm transition-all duration-75 delay-100 hover:font-bold"
                >
                {{ searchTerm }}
              </button>
            }
          </div>
        }
      </div>
    }

    @if (movies().length > 0) {
      <div class="mt-8">
        <h2 class="text-xl font-semibold  mb-4">
          Resultados de búsqueda ({{ movies().length }})
        </h2>
        
        <div>
          @for (movie of movies(); track movie.id) {
            <div class="py-4">
              <div class="flex justify-between items-end border-b-1">
                <p class="font-medium w-3/4"> {{ movie.title }}</p>
                <p class="text-sm">{{getMovieYear(movie.release_date)}}</p>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>